.cpu-health-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.cpu-health-panel span {
    font-size: clamp(1rem, 1.5vw, 1.75rem);
}

.label-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A6A6A6;
    border-radius: 5px 5px 0 0;
    flex-grow: 1;
}

.cpu-health-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8CCB7;
    flex-grow: 17.75;
}

.cpu-health-bar {
    background-color: #A6A6A6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 90%;
    width: 40%;
}

.cpu-health-bar-portion {
    border-radius: 5px;
    width: 100%;
    transition: height 0.5s ease;
    transition: background-color 0.5 ease;
}

.value-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A6A6A6;
    border-radius: 0 0 5px 5px;
    flex-grow: 1;
}