.disk-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.disk-panel span {
    font-size: clamp(1rem, 1.5vw, 1.75rem);
}

.label-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.disk-box {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow-y: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #C5C2BA;
    padding: 1rem 0.5rem;
}

.mount-point-row {
    background-color: #A6A6A6;
}

.disk-space-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #D8CCB7;
}

.disk-chart {
    background-color: #C5C2BA;
    border-style: solid;
    border-color: #A6A6A6;
    border-radius: 50%;
    width: 50%;
    aspect-ratio: 1/1;
}

.value-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}