.memory-health-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
}

.memory-health-panel span {
    font-size: clamp(2rem, 1.5vw, 2.25rem);
}

.memory-health-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8CCB7;
    flex-grow: 5;
    border-radius: 5px 5px 0 0;
}

.memory-health-bar {
    background-color: #A6A6A6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 90%;
    width: 30%;
}

.memory-health-bar-portion {
    border-radius: 5px;
    width: 100%;
    transition: height 0.5s ease, background-color 0.5s ease;
}

.memory-health-panel .value-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A6A6A6;
    border-radius: 0 0 5px 5px;
    flex-grow: 1;
}