.scanned-devices-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4rem;
    overflow-y: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #D8CCB7;
    width: 100%;
    border-radius: 10px;
}

.scanned-device {
    background-color: #717781;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 2000px;
}

.scanned-device span {
    font-size: clamp(2rem, 1.5vw, 2.25rem);
}

.ping-status-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100px;
}

.ping-status-content span {
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
}

.ping-status-indicator {
    background-color: #559751;
    border-radius: 50%;
    width: 2.5em;
    aspect-ratio: 1 / 1;
}

.scanned-device-rows {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    max-width: 1500px;
}

.scanned-device-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
}

.hostname-row {
    background-color: #A6A6A6;
    border-radius: 10px 10px 0 0;
}

.mac-row {
    background-color: #C5C2BA;
}

.ip-row {
    background-color: #A6A6A6;
}

.vendor-row {
    background-color: #C5C2BA;
    border-radius: 0 0 10px 10px;
}

.port-rows {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    max-width: 400px;
}

.port-rows span {
    font-size: clamp(1rem, 1.5vw, 1.75rem);
}

.closed-ports-content, .open-ports-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    max-width: 400px;
}

.port-rows .value {
    background-color: #A6A6A6;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 40%;
    border-radius: 10px;
}