.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;

    background-color: #CCB589;
}

h1 {
    font-size: clamp(1em, 2.5vw, 3em);
}

.left-header, .right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.logo {
    height: clamp(2em, 3.5vw, 4em);
    width: auto;
}