.system-metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #353534;
    width: 100%;
}

.system-metrics-panels {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 4rem;
    margin: 1rem;
    flex-wrap: wrap;
}

.os-network {
    width: 100%;
    max-width: 50em;
}

.network-scanner-button {
    background-color: #6A6A6A;
}

.system-metrics h2 {
    color: #D8CCB7;
    font-size: clamp(2rem, 2.5vw, 4rem);
    margin: 1rem;
    padding: 1rem;
}

.system-metrics button {
    color: #D8CCB7;
    font-size: clamp(2rem, 1.5vw, 2.25rem);
    margin: 3.5rem;
    padding: 1rem;
    transition: background-color 0.2s ease, color 0.5s ease;
}

.system-metrics button:hover {
    background-color: #4e4e4e;
    color: #CCB589;
    transition: background-color 0.2s ease, color 0.5s ease;
    cursor: pointer;
}

.network-scanner-button.loading {
    background-color: #6A6A6A;
    color: #D8CCB7;
}

.network-scanner-button.loading:hover {
    background-color: #6A6A6A;
    color: #D8CCB7;
    cursor: default;
}

.system-metrics button {
    border-radius: 10px;
    border-style: solid;
    border-color: #D8CCB7;
    border-width: 2px;
}

.cpu-memory {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 50em;
}

.cpu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.memory {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.spinner {
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
    display: inline-block;
}

.spinner:hover {
    color: #D8CCB7;
    background-color: #6A6A6A;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}